<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= Title
    link(rel="icon" type="image/x-icon" href="/static/images/book-icon.png")
    // Book by 2007 ruli from "https://thenounproject.com/browse/icons/term/book/"
    link(rel='stylesheet', href='/static/stylesheet/style.css')
  body
    block content
