doctype html
head
  title New Book
  link(rel='stylesheet' href='../public/stylesheets/style.css')
h1 New Book
form
  p
    label(for='title') Title
    input#title(name='title' type='text')
  p
    label(for='author') Author
    input#author(name='author' type='text')
  p
    label(for='genre') Genre
    input#genre(name='genre' type='text')
  p
    label(for='year') Year
    input#year(name='year' type='text')
  p
    input(type='submit' value='Create New Book')
  p
    a.button(href='all_books.html') Cancel
