doctype html
head
  title Page Not Found
  link(rel='stylesheet' href='../public/stylesheets/style.css')
h1 Page Not Found
p Sorry! We couldn&apos;t find the page you were looking for.
br
p
  a.button(href='all_books.html') Home
